# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE/Editor settings
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
dist/
build/
*.egg-info/
